@import "../../common.scss";

.card {
  position: relative;
  padding: 2em 3em;
  background: rgba(255, 255, 255, 0.057);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 24px;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  overflow: hidden;
  width: 100%;
  max-width: 45%;
  display: flex;
  flex-direction: row;
  &__userimg {
    .profile {
      max-width: 5em;
      border-radius: 50%;
      margin-right: 2em;
    }
  }
  &__userinfo {
    .user-name {
      @include D18180;
    }
    .user-email {
      @include D18180;
    }
  }
}

@media (max-width: 786px) {
  .card {
    padding: 2em 1em;
    &__userimg {
      .profile {
        margin-right: 1em;
      }
    }
  }
}
@media (max-width: 600px) {
  .card {
    max-width: 100%;
  }
}
